// info center、 faq 二级列表公用样式
.info-sublist-container
  .container
    display flex
    margin-top: 70px
  .list-container
    display flex
    flex-direction column
    width: 70%
    padding-bottom: 60px
    @media (max-width: 767px)
      width: 100%
  .list-title
    font-family: Raleway-Bold
    font-size: 15px
    font-weight: bold
    line-height: 1.07
    color: #333333
    border-bottom: 1px solid  #eeeeee
    margin-bottom 0
    padding-bottom 12px
  .list-item
    display flex
    align-items center
    justify-content: space-between
    height: 90px
    border-bottom: 1px solid  #eeeeee
    font-size 13px
    @media (max-width: 767px)
      height 77px
    //@media (min-width: 768px) and (max-width: 1024px)
    //  height 120px
    h5
      font-family: Raleway-Bold
      font-size: 13px
      font-weight: bold
      line-height: 1.23
      color: #777777
      margin-bottom: 5px
    p
      padding-bottom 0
      font-family: OpenSans
      font-size: 13px
      line-height: 1.54
      letter-spacing: -0.32px
      color: #777777
    .item-arrow
      margin-left: 15px
  a:hover
    color: #008fd7
